<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/main.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "<%= app.apiKey %>",
	    authDomain: "<%= app.authDomain %>",
	    databaseURL: "<%= app.databaseURL %>",
	    projectId: "<%= app.projectId %>",
	    storageBucket: "<%= app.storageBucket %>",
	    messagingSenderId: "<%= app.messagingSenderId %>"
	  };
	  firebase.initializeApp(config);
	  var storage = firebase.storage();

	  function getURL()
	  {
	    var ref = storage.ref("<%= data.Images %>");
	    var link = ref.getDownloadURL().then(function(url){
	      var img = document.getElementById("<%= key %>");
	      img.src = url;
	    });
	  }
	</script>
  
  <header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
		<ul class="nav nav-pills">
        <img src="images/web1.jpg" width=70% height=90px>
	    </div>

	</header>
	<div class="shade2">
	<h3 align=center><u> Old Details</u></h3>
	<center><img src="" id= "<%= key %>" alt="no img" height=20% width=20% align="center">
	<script type="text/javascript">
		getURL();
	</script>
	</center>
	<table>
	
	<tr><td><b>Product_ID :</td><td> <%= data.Product_ID %> </tr>
	<tr><td><b>Name :</td><td><%= data.Name %></td>
	<tr><td><b>Price :</td><td><%= data.Price %></td>
	<tr><td><b>Stock :</td><td><%= data.Stock %></td>
	<tr><td><b>Colour :</td><td><%= data.Colour %></td>
	<tr><td><b>Deal :</td><td><%= data.Deal %></td>
	<tr><td><b>Size:<b></td><td><%= data.Size %></td>
	</table>
	
	</div>
	
	<div class="shade2">
	 <h3 align=center>

    <form method="post" action="/product" enctype="multipart/form-data">
	 <u>New Details</u></h1>
	 <input type="textbox" name="key" value="<%= key %>" style="visibility: hidden;">
	 <input type="textbox" name="Images" value="<%= data.Images %>" style="visibility: hidden;" >
	 <table cellspacing=10>
	  <b><tr><td>Product ID</td><td valign="top"><input type=textbox name="Product_ID" value="<%= data.Product_ID %>" class="in12">
	  <br><br>
	  <tr><td>Name*</td><td> 		<input type=textbox name="Name"  value="<%= data.Name %>" class="in12" size="40"><br><br>
	  <tr><td>Price* </td><td>		<input type=textbox name="Price" value="<%= data.Price %>" class="in12" size="30"><br><br>
	  <tr><td>Stock* </td><td>		<input type=textbox name="Stock" value="<%= data.Stock %>" class="in12" size="30"><br><br>
	  <tr><td>Colour*</td><td> 		<input type=textbox name="Colour" value="<%= data.Colour %>" class="in12" size="30"><br><br>
	  <tr><td>Size* </td><td>		<input type=textbox name="Size" value="<%= data.Size %>" class="in12" size="30"><br><br>
	  <tr><td>Deal* </td><td>		<input type=textbox	name="Deal" value="<%= data.Deal %>" class="in12" size="30"><br><br>

      <tr><td>Image* </td><td>	<input type="button"  class="in12" value="Select" onclick="document.getElementById('file').click()">
      							<input type=file name="file" id="file" size="30" accept="image/*" style="visibility: hidden;">
      							<br><br>
	 <table>
	 <input type=submit value=Update class="up" >
	 </form>
	 </div>
	
</body>
</html>